.add-poster {
  // Button and Animations

  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;

    position: fixed;
    bottom: 6rem;
    right: 6rem;
    z-index: 200;
    text-align: center;

    border-radius: 50%;
    background: #fff;
    box-shadow: 0 .8rem 2rem rgba(#000, .15);
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;

    position: fixed;
    bottom: 6.5rem;
    right: 6.5rem;
    z-index: 100;

    border-radius: 50%;
    background-image: radial-gradient($color-primary-light, $color-primary);
    transition: transform .5s;
    //
    transform: scale(70);
    //
  }

  &__icon {
    position: relative;
    margin-top: 3.4rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 3.4rem;
      left: -1.6rem;

      width: 3.2rem;
      height: 2px;
      background: $color-grey;
      display: inline-block;
      transition: all .2s;
    }

    &::before {
      transform: rotate(0deg);
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(70);
  }

  &__checkbox:checked ~ &__form {
    opacity: 1;
  }

  &__checkbox:checked ~ &__button &__icon::before {
    transform: rotate(45deg)
  }

  &__checkbox:checked ~  &__button &__icon::after {
    transform: rotate(135deg)
  }


  // Form 

  &__form {
    @include center;
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 6rem;
    border-radius: .2rem;
    background: #fff;
    z-index: 150;
    //
    opacity: 1;
    //
    transition: all .6s;

    // &__image-preview {
      
    // }

    &__image-input {
      display: none;
    }

    &__image-label {
      padding: 1rem 8rem;
      background: $color-primary;
      color: #fff;
      cursor: pointer;
    }

  }

}
