// Colours
$color-primary: #843B42;
$color-primary-light: #D05D68;

$color-complimentary-light: #3B844C;

$color-grey: #3D3D3B;
$color-grey-light: #9B9B9B;
$color-grey-light-2: #D9D9D9;

$color-black: #000;
$color-white: #fff;

// Font
$header-font: 'Ultra', serif;